.form-container{
    width: 500px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    padding: 40px;
    background-color: rgb(240, 239, 243);
    gap: 15px;
    border: 5px ;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.inputelement{
    /* width: 100%; */
    font-size: 15px;
    border: 1.5px;
    padding: 15px;
    border-radius: 8px;
    padding: 10px;

}

#submit{
    padding: 8px;
    background-color: #4CAF50;
    border-radius: 5px;
    font-size: large;
    font-weight: 500;
    color: aliceblue;
    border: none;
}
